*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-image: linear-gradient(rgba(252, 252, 252, 0.4), rgba(255, 254, 254, 0.4)),
            url(./img/1583482589_1.jpg);
        background-size: cover;
}

ul,
ol {
    list-style: none;
}



article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}